/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/

li[data-hook='products_list_item'] img.inkit_logo {
    height: 13px;
    background-color: #00adee;
    background-image: none;
    border: 1px solid #00adee;
}

.button img.inkit_logo {
    width: 2em;
    vertical-align: middle;
}

ul#product-inkit-buttons {
    display: inline-block;
    padding-left: 3px;
    margin-top: -1em;
}

ul#product-inkit-buttons a.button {
    padding: 3px 10px;
    vertical-align: middle;
}
